#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /dev/xiaomi-touch
    chmod 0644 /dev/xiaomi-touch

on property:persist.vendor.parts.pen=*
    exec - system -- /vendor/bin/xiaomi-pen ${persist.vendor.parts.pen}
